<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Airbnb</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="parent">
        <!-- header -->
        <div class="header green">Header
            <div class="nav-header black">covid 19</div>
            <div class="nav-header orange"></div>
            <div class="nav-header pink"></div>
            <div class="nav-header coral"></div>
        </div>
        <!-- body -->
        <div class="blue">Main</div>
        <!-- footer -->
        <div class="gray">Footer</div>
    </div>
</body>
</html>